<!doctype html>
<html lang="es">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'core/favicon.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>cupckake JeReM</title>
  </head>
  <body>
    <!-- contenedor general -->
    <div class="container">
      <!-- header -->
      <header>
        <div class="bg-dark text-center py-4">
          <a href="#" class="bg-danger text-dark text-decoration-none lead p-2">CUPCKAKE JEREM</a>
        </div>
      </header><!-- end header -->
      <!-- contenido principal -->
      <div class="bg-danger bg-gradient text-center py-5">
        <h1 class="display-4 lead pt-5">CUPCKAKE JEREM</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla mollitia quisquam, debitis itaque tenetur omnis?</p>
        <div class="pb-5 pt-5">
          <a href="#" class="bg-dark text-danger py-3 px-5">Contácto</a>
        </div>
      </div><!-- end contenido principal -->


      <!-- contenedor con las tarjetas -->
      <div class="row py-5">
        
        {% for postre in postres %}
          <div class="col-md-4">
            <h4>{{postre.title}}</h4>
            <hr>
            <img src="{{ postre.image.url }}" alt="cupcake1" class="img-fluid rounded-3">
            <p>{{ postre.description }}</p>
          </div>
        {% endfor %}

      </div>
      <!-- contenedor con las tarjetas -->


      <!-- footer -->
      <footer class="bg-dark text-center">
        <a href="#" class="text-white ">Todos los derechos reservados.</a>
        <address class="float-right text-white">Los patos 3080</address>
      </footer>
      <!-- end footer -->

    </div>
    <!-- end contenedor general -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>
